

.title-container {
/* background-color: bisque; */
display: flex !important;
align-items: center !important;
margin-bottom: 2rem;
margin-top: 2.3rem;
}

h2 {
    
    padding-right: 1rem;
    align-self: center !important;
    margin: 0;

    
}