@font-face {
    font-family: "custom";
    src: url(../fonts/Cyberdyne-5Z48.otf);
}

.logo {
    font-family: "custom" !important;
    font-size: 2rem !important;
}

.logo-link {    
    text-decoration: none !important;
}
