/* h1{
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: inherit;
    color: solid red;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: #fff;
} */
h1{
    color: orange
}
.container-finance{
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: inherit;
    color: black;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    background-color: #fff;
    text-align: justify;
    padding-left: 50px;
    padding-right: 200px;
}