.title {
    text-align: center;
    /* justify-content: center;
    display: flex; */
}

.post-img {
    /* z-index: -1; */
    /* position: relative; */
    /* overflow: hidden; */
    /* clip: rect(0px,80vw,80vh,0px); */
    /* max-width: 60vw; */
    /* justify-content: center; */
    border: 1px solid black;
    width: 55rem !important;
    height: 25rem !important;

}

.text-content {
    font-size: 1.2rem;
    padding-top: 2rem;
}

.title {
    padding-top: 3rem;
}






















